* {
  box-sizing: border-box;
}


// 変数の設定 ===========================
// 色 ---------------------------
//背景色
$color-lightGreen: #75D701;
//アイコンなどの色
$color-green: #56A902;
//フォーカス時のボーダーライン
$color-darkGreen:#3B4E32;
//背景色
$color-white: #F8F8FF;
//文字色
$color-black:#070700;
//
$color-border: #383a3a;
$color-border2: #c7c5c5;
// フォントファミリー ---------------------------
$fontFamily-: -apple-system,
system-ui,
system-ui,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-;
// ボックスシャドウ ---------------------------
$boxShadow:0 1px 5px 1px rgba(0, 0, 0, .3);
$boxShadow2:0 1px 5px 1px rgba(255, 255, 255, .3);

// ホバーアニメ ---------------------------
@mixin hover1{
  opacity: .6;
  transition: all 0.1s;
  cursor: pointer;
}

/* フォントの設定 ---------------------------*/
//セクションタイトル  
.section-ttl {
  font-family: $fontFamily-;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: $color-white;
  text-align: center;
}

//セクションサブタイトル  
.section-subTtl {
  font-family: $fontFamily-;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  color: $color-black;
  margin-bottom: 10px;
}


input::placeholder {
  font-family: $fontFamily-;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  color: #c7c5c5;
}


/* アイテムの設定 ==========================*/
//ラベルをフォーカスしても選べるように
label {
  cursor: pointer;
}

/* ボタン ---------------------------*/
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: solid 2px #fff;
  background: $color-green;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
transition: all .4s;
  color: #fff;
  border: solid 2px #fff;
  background: $color-darkGreen;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .3);
}

.btn::-moz-foucus-inner {
  padding: 0;
  border: none;
}

.btn:active {
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);
}

//入力が終わるまでボタンを隠す
.btn-hidden {
  opacity: .5;
  pointer-events: none;
}

/* インプット ---------------------------*/
//入力フォームの本体
select,
input {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  outline: 0;
  font-weight: bold;
  color: $color-black;
}

//幅を設定するwrapper
.input-item {
  width: 90%;
  margin-top: 20px;
}

select,
input {
  width: 100%;
  height: 40px;
  padding: 2px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  transition: border-color ease .2s;
}

select:focus,
input:focus {
  border-color: $color-lightGreen;
}

select:hover {
  cursor: pointer;
}

// ラジオボタン ---------------------------
input[type="radio"] {
  display: none;
  border: 0;
  margin: 0;
}

.input-radio {
  display: block;
  position: relative;
  padding-left: 28px;
}

.input-radio label {
  display: inline-block;
  cursor: pointer;
}

.input-radio label:before,
.input-radio label:after {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  transition: transform .2s ease;
}

.input-radio label:before {
  background-color: #fff;
  top: 0px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $color-border;
}

.input-radio label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
}

.input-radio input[type="radio"]:checked+label:after {
  background-color: $color-green;
  transform: scale(1.6);
}

// チェックボックス  ---------------------------
input[type="checkbox"] {
  margin: 0;
  display: none;
}

.input-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-top: 20px;
}

.input-checkbox label {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.input-checkbox label:before,
.input-checkbox label:after {
  content: "";
  position: absolute;
  display: inline-block;
  transition: transform .2s ease;
}

.input-checkbox label:before {
  background: #fff;
  top: 2px;
  left: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid $color-border;
  border-radius: 4px;
}

.input-checkbox label:after {
  top: 8px;
  left: 5px;
  width: 6px;
  height: 11px;
  margin-top: -5.5px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 1.5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: border-bottom-color, border-right-color .2s ease;
}

.input-checkbox input[type="checkbox"]:checked+label:after {
  border-color: $color-green;
}

/* ボディー ==========================*/
body {
  background-color: $color-white;
}

/* ヘッダー ==========================*/

.inputCompleat {
  display: grid;
  place-items: center;
  width: 200px;
  background-color: #fff;
  color: $color-lightGreen;
  font-size: 32px;
  font-weight: 400;
  border: solid;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 10px;
  background-color: $color-darkGreen;
  display: grid;
  place-items: center;

  .header-inner {
    width: 400px;

    .header-top-wrapper {
      height: 30px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .header-logo {
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        line-height: 30px;
      }

      .view-time {
        font-family: $fontFamily-;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: 30px;
      }
    }
  }
}

.header-bottom-wrapper {
  background-color: $color-white;
  width: 100%;

  .inputStep-wrapper {
    width: 360px;
    background-color: $color-white;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .inputStep {
      display: grid;
      place-items: center;
      width: 110px;
      height: 30px;
      border: solid 2px #fff;
      border: solid 2px #56A902;
      // background: linear-gradient(45deg, #75D701 30%, #56A902 90%);
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .1);
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      color: #56A902;
    }
  }
}

//「完了」スタンプ
.stamp-complete {
  position: relative;
  transition: all;

  &::after {
    transform: rotate(-20deg);
    position: absolute;
    left: -20px;
    display: grid;
    place-items: center;
    content: "完了";
    line-height: 100%;
    border: solid red 3px;
    border-radius: 50%;
    color: red;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    font-size: 14px;
    opacity: .9;
  }
}

//「完璧」スタンプ
.stamp-perfect {
  position: relative;

  &::after {
    transform: rotate(-20deg);
    position: absolute;
    left: -20px;
    display: grid;
    place-items: center;
    content: "完璧";
    line-height: 100%;
    border: solid blue 3px;
    border-radius: 50%;
    color: blue;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    opacity: .9;
  }
}

/* メイン ============================*/
main {
  width: 100%;
  margin: 120px 0;

  section {
    margin: 10px auto;
    height: 100%;
    padding: 20px 0;

    .section-item-wrapper {
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .3);
      border-radius: 20px;
      width: 370px;
      margin: 0 auto;
    }

    .section-ttl-wrapper {
      display: grid;
      place-items: center;
      background-color: $color-lightGreen;
      width: 100%;
      border-radius: 20px 20px 0 0;
      padding: 10px 0 10px;

    }
  }

  .inner {
    width: 100%;
    border-radius: 0 0 20px 20px;

    .row2-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .input-item.input-item-small {
        width: calc((100% - 20px) / 2 - 1px);
      }
    }

    .title-area {
      background-color: $color-green;
      display: grid;
      place-items: center;
    }


    label,
    .accordion-header-txt {
      font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $color-black;
    }
  }
}

.input-withUnit-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  input {
    width: calc((100% - (10px + 30px)));
  }

  .unit {
    width: 30px;
    height: 30px;
    display: block;
    margin-top: auto;
  }
}

/* アコーディオン ---------------------------*/
.accordion {
  background-color: $color-white;
  padding: 4px 8px;
  box-shadow: $boxShadow;
  border-radius: 8px;
  margin: 0 0 20px;

  .accordion-header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &:hover {
      @include hover1;
    }

    .accordion-header-txt {
      display: grid;
      place-items: center;
      width: 30%;
      height: auto;
      word-break: break-all; //はみ出す要素を折り返す
      line-height: 24px;
    }


    .accordion-header-icon {
      font-size: 20px;
      color: $color-black;
    }

  }

  .accordion-body {
    margin: 10px auto;
    border-top: solid 1px $color-border2;
  }
}

.second-accordion {
  background-color: #8bd8a52d;
}



/* フッター ==========================*/
/* スマートフォン レスポンシブの設定 =====*/
/* スマホ用レスポンシブ======================*/
@media(max-width:670px) {

  /* ヘッダー ==========================*/

  /* メイン ============================*/
  main {
    width: 100%;
    margin: 120px 0 40px;



    //フォーム全体を包む
    .inner {
      width: 100%;
      margin: 0 auto;
      padding: 20px 15px 40px;
      background: #fff;

      .input-item {
        width: 100%;

        label {
          font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          color: $color-black;
        }
      }

      .input-item-checkBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;

        .input-radio {
          margin-bottom: 10px;
        }
      }
    }

    .btn-wrapper {
      margin-top: 40px;
      display: grid;
      place-items: center;
    }
  }

  /* フッター ==========================*/
}

/* タブレット レスポンシブの設定 ========*/