@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* フォントの設定 ---------------------------*/
.section-ttl {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #F8F8FF;
  text-align: center;
}

.section-subTtl {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  color: #070700;
  margin-bottom: 10px;
}

input::-webkit-input-placeholder {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  color: #c7c5c5;
}

input:-ms-input-placeholder {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  color: #c7c5c5;
}

input::-ms-input-placeholder {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  color: #c7c5c5;
}

input::placeholder {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  color: #c7c5c5;
}

/* アイテムの設定 ==========================*/
label {
  cursor: pointer;
}

/* ボタン ---------------------------*/
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: solid 2px #fff;
  background: #56A902;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  -webkit-transition: all .4s;
  transition: all .4s;
  color: #fff;
  border: solid 2px #fff;
  background: #3B4E32;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.btn::-moz-foucus-inner {
  padding: 0;
  border: none;
}

.btn:active {
  -webkit-box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.btn-hidden {
  opacity: .5;
  pointer-events: none;
}

/* インプット ---------------------------*/
select,
input {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  outline: 0;
  font-weight: bold;
  color: #070700;
}

.input-item {
  width: 90%;
  margin-top: 20px;
}

select,
input {
  width: 100%;
  height: 40px;
  padding: 2px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  -webkit-transition: border-color ease .2s;
  transition: border-color ease .2s;
}

select:focus,
input:focus {
  border-color: #75D701;
}

select:hover {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
  border: 0;
  margin: 0;
}

.input-radio {
  display: block;
  position: relative;
  padding-left: 28px;
}

.input-radio label {
  display: inline-block;
  cursor: pointer;
}

.input-radio label:before,
.input-radio label:after {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.input-radio label:before {
  background-color: #fff;
  top: 0px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #383a3a;
}

.input-radio label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
}

.input-radio input[type="radio"]:checked + label:after {
  background-color: #56A902;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

input[type="checkbox"] {
  margin: 0;
  display: none;
}

.input-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-top: 20px;
}

.input-checkbox label {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.input-checkbox label:before,
.input-checkbox label:after {
  content: "";
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.input-checkbox label:before {
  background: #fff;
  top: 2px;
  left: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #383a3a;
  border-radius: 4px;
}

.input-checkbox label:after {
  top: 8px;
  left: 5px;
  width: 6px;
  height: 11px;
  margin-top: -5.5px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 1.5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-bottom-color, border-right-color .2s ease;
  transition: border-bottom-color, border-right-color .2s ease;
}

.input-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #56A902;
}

/* ボディー ==========================*/
body {
  background-color: #F8F8FF;
}

/* ヘッダー ==========================*/
.inputCompleat {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 200px;
  background-color: #fff;
  color: #75D701;
  font-size: 32px;
  font-weight: 400;
  border: solid;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 10px;
  background-color: #3B4E32;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header .header-inner {
  width: 400px;
}

header .header-inner .header-top-wrapper {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .header-top-wrapper .header-logo {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}

header .header-inner .header-top-wrapper .view-time {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}

.header-bottom-wrapper {
  background-color: #F8F8FF;
  width: 100%;
}

.header-bottom-wrapper .inputStep-wrapper {
  width: 360px;
  background-color: #F8F8FF;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom-wrapper .inputStep-wrapper .inputStep {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 110px;
  height: 30px;
  border: solid 2px #fff;
  border: solid 2px #56A902;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #56A902;
}

.stamp-complete {
  position: relative;
  -webkit-transition: all;
  transition: all;
}

.stamp-complete::after {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  position: absolute;
  left: -20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  content: "完了";
  line-height: 100%;
  border: solid red 3px;
  border-radius: 50%;
  color: red;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  font-size: 14px;
  opacity: .9;
}

.stamp-perfect {
  position: relative;
}

.stamp-perfect::after {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  position: absolute;
  left: -20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  content: "完璧";
  line-height: 100%;
  border: solid blue 3px;
  border-radius: 50%;
  color: blue;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
}

/* メイン ============================*/
main {
  width: 100%;
  margin: 120px 0;
}

main section {
  margin: 10px auto;
  height: 100%;
  padding: 20px 0;
}

main section .section-item-wrapper {
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 370px;
  margin: 0 auto;
}

main section .section-ttl-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #75D701;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 10px 0 10px;
}

main .inner {
  width: 100%;
  border-radius: 0 0 20px 20px;
}

main .inner .row2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .inner .row2-wrapper .input-item.input-item-small {
  width: calc((100% - 20px) / 2 - 1px);
}

main .inner .title-area {
  background-color: #56A902;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .inner label,
main .inner .accordion-header-txt {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #070700;
}

.input-withUnit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.input-withUnit-wrapper input {
  width: calc((100% - (10px + 30px)));
}

.input-withUnit-wrapper .unit {
  width: 30px;
  height: 30px;
  display: block;
  margin-top: auto;
}

/* アコーディオン ---------------------------*/
.accordion {
  background-color: #F8F8FF;
  padding: 4px 8px;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 0 0 20px;
}

.accordion .accordion-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .accordion-header:hover {
  opacity: .6;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.accordion .accordion-header .accordion-header-txt {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 30%;
  height: auto;
  word-break: break-all;
  line-height: 24px;
}

.accordion .accordion-header .accordion-header-icon {
  font-size: 20px;
  color: #070700;
}

.accordion .accordion-body {
  margin: 10px auto;
  border-top: solid 1px #c7c5c5;
}

.second-accordion {
  background-color: #8bd8a52d;
}

/* フッター ==========================*/
/* スマートフォン レスポンシブの設定 =====*/
/* スマホ用レスポンシブ======================*/
@media (max-width: 670px) {
  /* ヘッダー ==========================*/
  /* メイン ============================*/
  main {
    width: 100%;
    margin: 120px 0 40px;
  }
  main .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px 40px;
    background: #fff;
  }
  main .inner .input-item {
    width: 100%;
  }
  main .inner .input-item label {
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #070700;
  }
  main .inner .input-item-checkBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .inner .input-item-checkBox .input-radio {
    margin-bottom: 10px;
  }
  main .btn-wrapper {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  /* フッター ==========================*/
}

/* タブレット レスポンシブの設定 ========*/
/*# sourceMappingURL=main.css.map */